<html>
  <head>
    <style></style>

  </head>
  <body>

    <p class="lucinda-template-header"> This is the lucinda template for any BR in OpenCitations </p>
    <br><br>

    <div class="container-fluid p-4">

      <div class="row">
        <div id="br_main" class="col-12 col-md-8 d-flex flex-column flex-md-row">

          <div class="card shadow-sm p-4 m-2">
            <div class="card-body">
            <h1>
              [[Lucinda:ifcond(
                meta.title !== null,
                getVal(meta.title),
                _HTML_(<span style="color:orange">This resource has no title</span>)
              )]]
            </h1>

            [[Lucinda:ifcond(
              meta.pub_date !== null,
              concat(
                  _HTML_(<h5><p class="">),
                  getVal(meta.pub_date),
                  _HTML_(</h5></p>)
              )
            )]]

            [[Lucinda:ifcond(
              meta.author !== null,
              concat(
                  _HTML_(<h4><p class="fs-5">),
                  styleHTML(
                      itemlist(
                          meta.author; meta.author_orcid; meta.author_omid,
                          _DATA_("meta.author_omid"),
                          _DATA_(["meta.author","meta.author_orcid","meta.author_omid"]),
                          _DATA_(false),
                          _DATA_(["meta.title","string",true])
                      ),
                      _DATA_("author_entry")
                  ),
                  _HTML_(</p></h4><br>)
              )
            )]]

            </div>
          </div>

        </div>


        <div id="br_citations" class="col col-md-4 d-grid gap-0 row-gap-3 d-flex flex-column flex-md-row">

          <div class="card shadow-sm p-1 m-2">
            <div class="card-body">

                <div class="row g-3 column-gap-3">
                  <!--<h3 class="">#Citations</h3>-->
                  <div class="col reference-count">
                    <div class="card shadow-sm p-1 m-1">
                        <div class="card-body">
                          <h4>References</h4>
                          <h3 style="color: var(--refs-color)">[[Lucinda:llength(apirefs.id)]]</h3>
                        </div>
                    </div>
                  </div>
                  <div class="col citation-count">
                    <div class="card shadow-sm p-1 m-1">
                      <div class="card-body">
                        <h4>Citations</h4>
                        <h3 style="color: var(--cits-color)">[[Lucinda:llength(apicits.id)]]</h3>
                        <!-- [[Lucinda:ifcond(
                          index.citation_count !== null,
                          concat(
                            _HTML_(<span style="color:black; font-weight: lighter;">),
                            getVal(index.citing),
                            _HTML_(</span>),
                          ),
                          _HTML_(<span style="color:orange">This resource has no title</span>)
                        )]] -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row g-3 column-gap-3">
                  <div class="col">
                    <div class="card shadow-sm p-1 m-1">
                      <div class="card-body">
                        <h4>Citations per year</h4>
                        <div><canvas id="citsxyear_chart"></canvas></div>
                        [[Lucinda:barchart(
                          _DATA_("citsxyear_chart"),
                          mapData(
                            apicits.pub_date,
                            _DATA_("year")
                          )
                        )]]
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row column-gap-3">
                  <div class="col">
                    <div class="card shadow-sm p-1 m-1">
                      <div class="card-body">
                        <h4>Identifiers</h4>
                        <!-- [[Lucinda:styleHTML(
                            itemlist(
                                meta.id; meta.id_link,
                                d("meta.id"),
                                d(["meta.id","meta.id_link"]),
                                d(false),
                                d(["meta.id","string",true])
                            ),
                            f(author_entry)
                        )]] -->

                        [[Lucinda:doforeach(
                            meta.id; meta.id_link,
                            _DATA_("id_entry"),
                            _DATA_("<br>")
                        )]]
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row column-gap-3">
                  <div class="col">
                    <div class="card shadow-sm p-1 m-1">
                      <div class="card-body">
                        <h4>Source</h4>
                        [[Lucinda:ifcond(
                          meta.venue !== null,
                          venue_entry(meta.venue)
                        )]]
                      </div>
                    </div>
                  </div>
                </div>

                  <!-- [[Lucinda:ifcond(
                    meta.id !== null,
                    concat(
                        _HTML_(<p id="anyids" class="fs-6">),
                        table(meta.id),
                        _HTML_(</p><br>)
                    )
                  )]] -->
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div id="citaions_and_references" class="col">
          <div class="row p-1">
              <!--<h3>Document citations</h3>-->

              <div class="col mt-3">
                <div class="card shadow-sm">
                  <div class="card-body">

                      <h4>References <i>(<span style="color: var(--refs-color)">[[Lucinda:llength(apirefs.id)]]</span> documents)</i></h4>

                      <!-- Array of Objects -->
                      <!-- Attribute used as ID for each entry -->
                      <!-- Attributes to consider -->
                      <!-- sort entities according to an Attribute: ["<Attribute>",<Attribute-Type>, true|false (ascending)] -->
                      [[Lucinda:
                        styleHTML(
                          itemlist(
                              apirefs.id; apirefs.title; apirefs.author; apirefs.pub_date,
                              _DATA_("apirefs.id"),
                              _DATA_(["apirefs.title","apirefs.author","apirefs.pub_date","apirefs.id"]),
                              _DATA_(false),
                              _DATA_(["apirefs.title","string",true])
                          ),
                          _DATA_("doc_entry")
                        )
                      ]]

                  </div>
                </div>
              </div>


              <div class="col mt-3">
                <div class="card shadow-sm">
                  <div class="card-body">
                    <h4>Citations <i>(<span style="color: var(--cits-color)">[[Lucinda:llength(apicits.id)]]</span> documents)</i></h4>


                    [[Lucinda:
                      styleHTML(
                        itemlist(
                            apicits.id; apicits.title; apicits.author; apicits.pub_date,
                            _DATA_("apicits.id"),
                            _DATA_(["apicits.title","apicits.author","apicits.pub_date","apicits.id"]),
                            _DATA_(false),
                            _DATA_(["apicits.title","string",true])
                        ),
                        _DATA_("doc_entry")
                      )
                    ]]

                  </div>
                </div>
              </div>


          </div>
        </div>
      </div>


    </div>

  </body>
</html>
