<html>
  <head>
    <style>
        h1 {
            text-align: left;
        }
    </style>
  </head>
  <body>
    <h1> This is a BR (template = br_any_browser) </h1>

    <p>
      [[Lucinda:concat(
        meta.title,
        htmlcontent(<i> –– </i>),
        concat(
            htmlcontent(<i>OMID: </i>),
            text(meta.id)
        )
      )]]
    </p>

    <p>
      [[Lucinda:ifcond(
        meta.pub_date > 2000,
        htmlcontent(<i>This BR was published AFTER 2000</i>),
        htmlcontent(<i>This BR was published BEFORE 2000</i>)
      )]]
    </p>

  </body>
</html>
