body.lucinda-cover{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#browser {
  height:auto; overflow:auto
}
#browser_info{
  min-height: 200px;
  float:left;
}

#browser_header{
  border-color: #f2f2f2;
  border-width: 10px;
  border-style: solid;
  padding-bottom: 5px;
  border-left:none;
  border-top:none;
  border-right:none;
}

.browser-metrics{
  background-color: rgba(243, 230, 255,0.17);
  display:inline;
  float:right;
  width: 28%;
  min-height: 200px;
  border-left: solid;
  border-color: #f2f2f2;
}

.browser-info{
  display: inline-block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*background-color: rgba(243, 230, 255,0.17);*/
  width: 70%;
}

#browser_view_switch {
  float:right;
  margin-bottom: 10px;
}
#browser_view_switch > li {
  display:inline-block;
}
#browser_view_switch > li + li {
  margin-left: 20px;
}
#browser_view_switch > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: darkgrey; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
#browser_view_switch > li > a:hover {
  background-color: transparent;
  border-bottom-color: darkgrey;
  text-decoration: none;
}
#browser_view_switch > .active > a,
#browser_view_switch > .active > a:hover,
#browser_view_switch > .active > a:focus {
  color: #336699;
  border-bottom-color: #336699 ;
}


.browser-header-tab {
  table-layout: auto;
  margin-top: 20px;
  border-collapse: collapse;
  border-color: #f2f2f2;
  text-align:left;
  word-wrap:break-word;
}
.browser-header-tab tr:first-child th{
  border: none;
}
.browser-header-tab tr td {
  border-top: none !important;
  font-size: 125%;
}
.browser-header-tab tr th {
  font-size: 230%;
}


.browser-details-tab {
  table-layout: auto;
  border-top:solid;
  border-color: #f2f2f2;
  text-align:left;
  word-wrap:break-word;
  width: 100%;
  border: none !important;
}
.browser-details-tab tr td {
  font-size: 120%;
}
.browser-details-tab tr th {
  font-size: 140%;
}
.browser-details-tab td.resource-info {
  color: #9931FC;
  font-size: 100%;
}

.browser-metrics-tab {
  margin-left:10px;
  table-layout: auto;
  border-collapse: collapse;
  text-align:left;
  word-wrap:break-word;
  border: none !important;
}
.browser-metrics-tab tr td {
  font-size: 120%;
}
.browser-metrics-tab tr th {
  font-size: 160%;
}


/*customize dynamic elems added*/
.imp-value{
  color: #336699;
  font-size: 145%;
}

.metric-entry{
  font-size: 105%;
}

.header-title{
  font-size: 200%;
}

.metrics-title{
  font-size: 145%;
}

#oscar_nav {
  margin-top:5%;
}
#oscar_nav li a{font-size:150%;}
#oscar_nav li {margin-right: 20px;}
#oscar_nav > .active > a,
#oscar_nav > .active > a:hover,
#oscar_nav > .active > a:focus {
  color: black;
  border-bottom-color: grey ;
  background-color: transparent;
}

#loader_container{
  margin-top: 1.5%;
}
.oscarLoader{
 color: grey;
 font-size:130%;
}

/*re-define search css components*/
/*modify search css*/
#search{
  padding-top: 2%;
}
#search_results{
  width:100%;
}
.table.tab-footer tr{
  text-align:center;
}
#rows_per_page{
  margin-left:0%;
}
:root {
  --main-bg-color: #336699;
  --hover_color: #19334d;
}


/*general fix*/
.no_selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

@media only screen and (max-width: 1200px) {
  #browser {
    width: 100%;
  }
  #browser_info{
    width: 100%;
  }
  .browser-details{
    width: 100%;
  }
  #browser_header{
    width: 100%;
    padding-bottom: 10px;
    font-size: 80%;
  }
  .browser-metrics{
    margin-top: 3%;
    display:block;
    width: 100%;
    background-color: white;
    border-left: none;
    border-top: solid;
    border-color: #f2f2f2;
  }
  .browser-metrics-tab {
    margin-left:0px;
    table-layout: auto;
    border-collapse: collapse;
  }
  .browser-metrics-tab tr td {
    font-size: 100%;
  }

  #search{
    padding-top: 8%;
  }
  #oscar_nav {
    width: 100%;
    margin-top:0%;
    text-align:center;
    margin-bottom:0%;
  }
  #oscar_nav li a{
    font-size:130%;
  }
}


@media only screen and (max-width: 700px) {
  #oscar_nav {
    width: 100%;
    margin-bottom:5%;
  }
}
