body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

.site-wrapper-inner {
  vertical-align: middle;
}

.text-success > a,
.text-success > a:hover,
.text-success > a:focus {
  color: #4b7443;
  border-bottom-color: #4b7443 ;
}
